.skills-icon-popup {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
}

.skills-icon:hover > .skills-icon-popup {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}

.photo-common {
  position: absolute;
  width: clamp(2rem, 20vmax, 30rem);
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  opacity: 0.8;
}

.photo-common:hover {
  transform: translate(-50%, -50%) rotate(0deg) scale(1.1);
  opacity: 1;
  z-index: 10;
}

.bg-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bg-icons li {
  position: fixed;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: -250px;
  filter: invert(50%);
  will-change: transform;
}

.bg-icons li:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
  animation-duration: 25s;
  filter: invert(50%) blur(1px);
}

.bg-icons li:nth-child(2) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.bg-icons li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
  animation-duration: 25s;
}

.bg-icons li:nth-child(4) {
  left: 35%;
  animation-delay: 2s;
  animation-duration: 12s;
  filter: invert(50%) blur(2px);
}

.bg-icons li:nth-child(5) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.bg-icons li:nth-child(6) {
  left: 50%;
  animation-delay: 3s;
  animation-duration: 25s;
  filter: invert(50%) blur(4px);
}

.bg-icons li:nth-child(7) {
  left: 65%;
  animation-delay: 7s;
  animation-duration: 25s;
  filter: invert(50%) blur(1px);
}

.bg-icons li:nth-child(8) {
  left: 70%;
  animation-delay: 15s;
  animation-duration: 35s;
}

.bg-icons li:nth-child(9) {
  left: 85%;
  animation-delay: 4s;
  animation-duration: 40s;
}

.bg-icons li:nth-child(10) {
  left: 90%;
  animation-delay: 0s;
  animation-duration: 14s;
  filter: invert(50%) blur(4px);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .4;
  }

  100% {
    transform: translateY(-1200px) rotate(720deg);
    opacity: .05;
  }
}
