@font-face {
  font-family: "Abril Fatface";
  src: url("../public/fonts/abril/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spline Sans Mono";
  src: url("../public/fonts/splinesans/SplineSansMono-Light.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Indie Flower";
  src: url("../public/fonts/indieflower/IndieFlower-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
