/** GENERAL **/
html,
body {
  cursor: none;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #191919;
  color: #191919;
  scroll-behavior: smooth;
  transition: background-color 1s linear;
}

.custom-cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
  z-index: 9999;
  backdrop-filter: invert(70%);
  background-size: contain;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sacramento";
  letter-spacing: 6px;
}

p,
span {
  font-family: "Poiret One";
}

::selection {
  background-color: #e2e2e2;
  color: #191919;
}

#__next {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Avoid rendering the default cursor on selectable elements */
a,
button {
  cursor: none;
}

/** CUSTOM SCROLLBAR **/
*::-webkit-scrollbar {
  width: 8px;
  backdrop-filter: invert(20%);
}
*::-webkit-scrollbar-track {
  background: rgba(38, 38, 38, 0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border-radius: 20px;
  border: 1px solid #191919;
}
