@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(spinner.css);
@import url(animated-emojis.css);
@import url(animated-mouse.css);
@import url(fonts.css);

/** GENERAL **/
html,
body {
  cursor: none;
  min-height: 100vh;
  font-family: "Spline Sans Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eeeeee;
  color: #191919;
  scroll-behavior: smooth;
  transition: background-color 2s ease;
}

.custom-cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
  z-index: 9999;
  backdrop-filter: invert(70%);
  background-size: contain;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TT Travels";
  letter-spacing: 4px;
}

p,
span {
  font-family: "Spline Sans Mono";
}

::selection {
  background-color: #e2e2e2;
  color: #191919;
}

#__next {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/** CUSTOM SCROLLBAR **/
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 20px;
  border: 2px solid #191919;
}

.bg-notebook {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}
.bg-common {
  transition: all 2s ease;
}
.bg-1 {
  background-color: #ffaaaa;
}
.bg-2 {
  background-color: #b9e9ff;
}
.bg-3 {
  background-color: #cfffd3;
}
.bg-4 {
  background-color: #fff9ab;
}

@layer components {
  /** HOMEPAGE **/
  .skills-icon-popup {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    text-align: center;
  }
  .skills-icon:hover > .skills-icon-popup {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
  }

  /** NEW POST-IT PAGE **/
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  input[type="radio"] + label {
    box-shadow: 0px 0px 8px 2px #878787;
    transition: all .2s ease;
    cursor: none;
  }
  input[type="radio"] + label:hover {
    transform: scale(1.1);
  }
  input[type="radio"]:checked + label {
    border: 4px solid #4c4c4c;
  }
  input::placeholder,
  textarea::placeholder {
    color: #1c1c1c;
    font-family: "Indie Flower", sans-serif;
  }

  /** POST-IT BOARD PAGE **/
  .postit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: start;
    justify-items: center;
  }
}
