.bg-270825 {
  position: relative;
  z-index: 20;
  background-color: #270825;
}
.bg-05141e {
  background-color: #05141e;
}
.bg-051d07 {
  background-color: #051d07;
}
.bg-28270a {
  background-color: #28270a;
}

.skills-icon-popup {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
}
.skills-icon:hover > .skills-icon-popup {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}
.photo-common {
  position: absolute;
  width: clamp(2rem, 20vmax, 30rem);
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  opacity: 0.8;
}
.photo-common:hover {
  transform: translate(-50%, -50%) rotate(0deg) scale(1.1);
  opacity: 1;
  z-index: 10;
}

.header-common {
  font-size: clamp(3rem, 5vmax, 6rem);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: transparent;
  animation: animate 25s linear infinite;
  bottom: -150px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  filter: invert(30%);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
  background-image: url("../public/icons/gamepad.png");
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background-image: url("../public/icons/saturn.png");
}

.circles li:nth-child(3) {
  left: 70%;
  width: 35px;
  height: 35px;
  animation-delay: 4s;
  background-image: url("../public/icons/pencil.png");
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background-image: url("../public/icons/rocket.png");
}

.circles li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  background-image: url("../public/icons/gamepad.png");
}

.circles li:nth-child(6) {
  left: 75%;
  width: 100px;
  height: 100px;
  animation-delay: 3s;
  background-image: url("../public/icons/saturn.png");
}

.circles li:nth-child(7) {
  left: 35%;
  width: 85px;
  height: 85px;
  animation-delay: 7s;
  background-image: url("../public/icons/pencil.png");
}

.circles li:nth-child(8) {
  left: 50%;
  width: 35px;
  height: 35px;
  animation-delay: 15s;
  animation-duration: 45s;
  background-image: url("../public/icons/gamepad.png");
}

.circles li:nth-child(9) {
  left: 20%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 35s;
  background-image: url("../public/icons/saturn.png");
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
  background-image: url("../public/icons/rocket.png");
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .4;
    border-radius: 30%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: .05;
    border-radius: 50%;
  }
}
